In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model   import LinearRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as pl
df=pd.read_csv("titanic.csv")
df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Embarked,Survived
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,S,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,S,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,S,1
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,S,0
...,...,...,...,...,...,...,...,...,...
884,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,S,0
885,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,S,1
886,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,S,0
887,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,C,1
888,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,Q,0

In [5]:
data = df.drop(['Name','Ticket'],axis=1) # Name과 Ticket 변수를 삭제
pd.get_dummies(data, columns = ['Sex','Embarked']) # 남은 두 object형을 원-핫 인코딩
pd.get_dummies(data, columns = ['Sex','Embarked'], drop_first = True)
data

     Pclass     Sex   Age  SibSp  Parch Embarked  Survived
0         3    male  22.0      1      0        S         0
1         1  female  38.0      1      0        C         1
2         3  female  26.0      0      0        S         1
3         1  female  35.0      1      0        S         1
4         3    male  35.0      0      0        S         0
..      ...     ...   ...    ...    ...      ...       ...
884       2    male  27.0      0      0        S         0
885       1  female  19.0      0      0        S         1
886       3  female  28.0      1      2        S         0
887       1    male  26.0      0      0        C         1
888       3    male  32.0      0      0        Q         0

[889 rows x 7 columns]

In [6]:
X=data.drop("Survived",axis=1)
y=data["Survived"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 100)

In [7]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

ValueError: could not convert string to float: 'female'